@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    /* 默认 content-box
    border-box的宽和高包括的border+padding+content
    */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /* overflow 当元素超出容器范围时
        hidden 超出的部分被剪裁*/
}

h4 {
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;;
}

.counter {
    /* 居中固定定位 */
    position: fixed;  /*元素固定在浏览器视口上 不随页面滚动改变位置 */
    top: 50%; /*元素放在视口高度50% */
    left: 50%; /*元素放在视口宽度50% */
    transform: translate(-50%, -50%); /*元素向左上移动自身宽高的50%从而实现真正居住*/
    text-align: center;
}
