@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    /* 默认 content-box
    border-box的宽和高包括的border+padding+content
    */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /* overflow 当元素超出容器范围时
        hidden 超出的部分被剪裁*/
}

h4 {
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;;
}

.counter {
    /* 居中固定定位 */
    position: fixed;  /*元素固定在浏览器视口上 不随页面滚动改变位置 */
    top: 50%; /*元素放在视口高度50% */
    left: 50%; /*元素放在视口宽度50% */
    transform: translate(-50%, -50%); /*元素向左上移动自身宽高的50%从而实现真正居住*/
    text-align: center;
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide 0.2s ease-out; /*动画名 持续时长 timing-function   `ease-out开始快 结束慢*/

}

@keyframes hide { /*定义动画的名字*/
    0% {
        transform: translate(-50%, -50%) scale(1); /*元素居中并且缩放至原本大小*/
    }

    100% {
        transform: translate(-50%, -50%) scale(0);  /*隐藏*/
    }
}

.final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show 0.2s ease-out;
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    30% {
        transform: translate(-50%, -50%) scale(1.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
.nums {
    color: #3498db;
    font-size: 50px;
    position: relative; /*给子元素的 position: abosolute做参考*/
    overflow: hidden;
    width: 250px;
    height: 50px;
}

.nums span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    /* 表示绕 transform-origin（变换原点，默认是元素中心） 顺时针旋转。 */
    transform-origin: bottom center;
}

.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
}

.nums span.out {
    animation: goOut 0.5s ease-in-out;
    /* 开始和结束时慢 中间快 */
}

@keyframes goIn {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes goOut {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    60% {
        transform: translate(-50%, -50%) rotate(20deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-120deg);
    }
}

#replay {
    background-color: #3498db;
    border-radius: 3px;
    border: none;
    color: aliceblue;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
    /* css属性发生变化时哪些属性要过度 过度时间是多少 */
}

#replay span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 3s;
}

#replay span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}



#replay:hover span {
    padding-right: 25px;
}

#replay:hover span:after {

    opacity: 1;
    right: 0;
}